 Housing Prices

Task: Load the dataset, handle missing price information, and group by location to find average prices.

In [1]:
import pandas as pd
import seaborn as sns
Housing_df = pd.read_csv('C:\\Users\\HP\\Documents\\realtor-data.zip.csv')
Housing_df

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
0,103378.0,for_sale,105000.0,3.0,2.0,0.12,1962661.0,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,52707.0,for_sale,80000.0,4.0,2.0,0.08,1902874.0,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,103379.0,for_sale,67000.0,2.0,1.0,0.15,1404990.0,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,31239.0,for_sale,145000.0,4.0,2.0,0.10,1947675.0,Ponce,Puerto Rico,731.0,1800.0,NaN
4,34632.0,for_sale,65000.0,6.0,2.0,0.05,331151.0,Mayaguez,Puerto Rico,680.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2226377,23009.0,sold,359900.0,4.0,2.0,0.33,353094.0,Richland,Washington,99354.0,3600.0,2022-03-25
2226378,18208.0,sold,350000.0,3.0,2.0,0.10,1062149.0,Richland,Washington,99354.0,1616.0,2022-03-25
2226379,76856.0,sold,440000.0,6.0,3.0,0.50,405677.0,Richland,Washington,99354.0,3200.0,2022-03-24
2226380,53618.0,sold,179900.0,2.0,1.0,0.09,761379.0,Richland,Washington,99354.0,933.0,2022-03-24
2226381,108243.0,sold,580000.0,5.0,3.0,0.31,307704.0,Richland,Washington,99354.0,3615.0,2022-03-23

In [2]:
Housing_df.isnull().sum()

brokered_by         4533
status                 0
price               1541
bed               481317
bath              511771
acre_lot          325589
street             10866
city                1407
state                  8
zip_code             299
house_size        568484
prev_sold_date    734297
dtype: int64

In [3]:
Housing_df.dropna(inplace= True)

In [4]:
Housing_df.isnull().sum()

brokered_by       0
status            0
price             0
bed               0
bath              0
acre_lot          0
street            0
city              0
state             0
zip_code          0
house_size        0
prev_sold_date    0
dtype: int64

In [5]:
grouping_df = Housing_df.groupby('state')['price'].mean()
grouping_df

state
Alabama                 3.097199e+05
Alaska                  4.942450e+05
Arizona                 5.424485e+05
Arkansas                3.358935e+05
California              1.079508e+06
Colorado                8.086732e+05
Connecticut             7.928327e+05
Delaware                3.969708e+05
District of Columbia    1.188105e+06
Florida                 6.417947e+05
Georgia                 4.032260e+05
Hawaii                  1.457250e+06
Idaho                   6.000220e+05
Illinois                3.560276e+05
Indiana                 3.078794e+05
Iowa                    2.455453e+05
Kansas                  2.645224e+05
Kentucky                2.774729e+05
Louisiana               3.124315e+05
Maine                   4.905547e+05
Maryland                4.957735e+05
Massachusetts           7.027562e+05
Michigan                2.882761e+05
Minnesota               3.833048e+05
Mississippi             2.556775e+05
Missouri                2.818430e+05
Montana                 6.830837e+05
Nebraska                3.144240e+05
Nevada                  7.347849e+05
New Hampshire           6.095019e+05
New Jersey              5.200621e+05
New Mexico              3.748748e+05
New York                5.906849e+05
North Carolina          4.263096e+05
North Dakota            3.076836e+05
Ohio                    2.268983e+05
Oklahoma                2.717939e+05
Oregon                  6.220272e+05
Pennsylvania            3.308327e+05
Puerto Rico             5.736116e+05
Rhode Island            4.687219e+05
South Carolina          5.069372e+05
South Dakota            3.790661e+05
Tennessee               4.511385e+05
Texas                   4.348303e+05
Utah                    8.629224e+05
Vermont                 4.675011e+05
Virgin Islands          1.291675e+06
Virginia                5.479654e+05
Washington              7.170931e+05
West Virginia           2.528904e+05
Wisconsin               3.205418e+05
Wyoming                 5.565096e+05
Name: price, dtype: float64